body {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hehe {
  height: 100px;
  width:  100px;
}

#buts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}